
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1513886804682-0 {
            width: 333px;
            background-color: rgb(255, 255, 255);
            min-height: 400px;
            top: 9px;
            left: 362px;
        }
        
        .silex-id-1513886837986-1 {
            width: 253px;
            min-height: 20px;
            top: 409px;
            left: 407px;
        }
    